ReleaseNumberTest/SharedResources/ServicesContracts/ReleaseNumber_20121214_SOAP11_HTTP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:eaifault="http://eai.telkom.co.za/EaiEsbException/20120502" xmlns:ns0="http://www.w3.org/2005/08/addressing" xmlns:ns1="http://eai.telkom.co.za/EnterpriseServiceMetaData/20110801" xmlns:ns2="http://eai.telkom.co.za/schemas/ReleaseNumber/20121214/DataModel/Schema.xsd" xmlns:ns3="http://eai.telkom.co.za/schemas/ReleaseNumber/20121214/DataModel/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eai.telkom.co.za/services/ReleaseNumber/20121214" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" name="ReleaseNumber_20121214" targetNamespace="http://eai.telkom.co.za/services/ReleaseNumber/20121214">
    <!-- generate the WS-Addressing required policy -->
    <wsp:Policy>
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <!-- edited with XMLSpy v2011 sp1 (x64) (http://www.altova.com) by Soteri Panagou (Telkom SA Limited) -->
        <xsd:schema xmlns:ns1="http://www.w3.org/2005/08/addressing" xmlns:ns2="http://eai.telkom.co.za/EnterpriseServiceMetaData/20110801" xmlns:tsmd="http://eai.telkom.co.za/EaiEsbException/20120502" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://eai.telkom.co.za/EaiEsbException/20120502" version="1.0">
            <xsd:import namespace="http://www.w3.org/2005/08/addressing"/>
            <xsd:import namespace="http://eai.telkom.co.za/EnterpriseServiceMetaData/20110801"/>
            <xsd:complexType name="ResultType">
                <xsd:annotation>
                    <xsd:documentation>The Result Reporting Message Structure</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ResultCode">
                        <xsd:annotation>
                            <xsd:documentation> Container type for the mandatory result code. Three different statuses: success, fail and reject. 
								 - Success is indicated with the value 0. 
								 - Failure(indicated that a resend could possible be successful) is represented by negative values 
								 - Rejection(indicated that a resend would be refected again) by positive values.
										</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ResultMsgCode">
                        <xsd:annotation>
                            <xsd:documentation>
						  Container type for the optional result message code. The recommended way is to concatenate the
						  system identifier with the specific error code number.This is only recommended and not enforced in the validation.
						</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="1"/>
                                <xsd:maxLength value="64"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ResultMsg">
                        <xsd:annotation>
                            <xsd:documentation>
						  Container type for the optional detail description of the result message code.
						</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Result" type="tsmd:ResultType"/>
            <xsd:element name="Exception">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Result" type="tsmd:ResultType"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <!--
The Release Numbers service is used to release one or many Telephone Numbers which were reserved against an order.
-->
        <xs:schema xmlns="http://eai.telkom.co.za/schemas/ReleaseNumber/20121214/DataModel/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://eai.telkom.co.za/schemas/ReleaseNumber/20121214/DataModel/Schema.xsd" version="1">
            <xs:element name="Request" type="RequestType"/>
            <xs:element name="Response" type="ResponseType"/>
            <xs:complexType name="RequestType">
                <xs:sequence>
                    <xs:element minOccurs="1" name="OrderID" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The field against which the Telephone Number(s) has been reserved and should now be released. This is the OMS Order ID</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" name="ServiceNumberList">
                        <xs:annotation>
                            <xs:documentation>Telephone Numbers List</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="ServiceNumber" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>One or more Telephone Numbers that are to be released</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResponseType">
                <xs:sequence>
                    <xs:element ref="Result"/>
                    <xs:element minOccurs="0" name="Payload">
                        <xs:annotation>
                            <xs:documentation>Contains the list of the telephone number which were requested to be released and the status to indicate if there were released or not. </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="ServiceNumberList">
                                    <xs:annotation>
                                        <xs:documentation>Telephone number List</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="1" name="ServiceNumber" type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>The telephone numbers which was requested to be released</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element minOccurs="1" name="InteractionStatus" type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Status to indicate if the number was successfully release or not.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultType">
                <xs:sequence>
                    <xs:element minOccurs="1" name="ResultCode" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Container type for the mandatory result code. Three different statuses: success, fail and reject. 
                 - Success is indicated with the value 0. 
                 - Failure(indicated that a resend could possibly be successful) is represented by negative values 
                 - Rejection (indicated that a resend would be    reflected again) by positive values.
</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ResultMsgCode" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Container type for the optional result message code. The recommended way is to concatenate the system identifier with the specific error code number. This is only recommended and not enforced in the validation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ResultMsg" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Container type for the optional detail description of the result message code.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Data">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Request"/>
                        <xs:element ref="Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Result" type="ResultType"/>
        </xs:schema>
        <xsd:schema xmlns:tsmd="http://eai.telkom.co.za/EnterpriseServiceMetaData/20110801" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://eai.telkom.co.za/EnterpriseServiceMetaData/20110801" version="1.0">
            <xsd:complexType name="MetadataType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="Param">
                        <xsd:complexType>
                            <xsd:attribute name="Key" type="tsmd:MetadataTypeStringType" use="required"/>
                            <xsd:attribute name="Qualifier" type="tsmd:MetadataTypeStringType" use="required">
                                <xsd:annotation>
                                    <xsd:documentation>Classification of the metadata</xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="Value" type="tsmd:MetadataTypeStringType" use="required"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="MetadataTypeStringType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SenderIDStringType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="64"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="SenderIDType">
                <xsd:simpleContent>
                    <xsd:extension base="tsmd:SenderIDStringType">
                        <xsd:attribute name="EndUserIdentity" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Represents the unique identity of the user that initiated the transaction on the SenderAppID</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:anyAttribute namespace="##other" processContents="lax"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="TransactionGroupIDType">
                <xsd:simpleContent>
                    <xsd:extension base="tsmd:TransactionGroupIDTypeStringType">
                        <xsd:anyAttribute namespace="##other" processContents="lax"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="TransactionGroupIDTypeStringType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="Metadata">
                <xsd:annotation>
                    <xsd:documentation>Metadata that can be specified by a client.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="tsmd:MetadataType">
                            <xsd:anyAttribute namespace="##other" processContents="lax"/>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SenderID" type="tsmd:SenderIDType">
                <xsd:annotation>
                    <xsd:documentation>This is the identifier of the sending system</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TransactionGroupID" type="tsmd:TransactionGroupIDType">
                <xsd:annotation>
                    <xsd:documentation>This is an optional identifier to be used by a system when several technical transactions are representing one business transaction. Example: Business transaction impplemented via a request and call-back transaction. The call-back will have a new MessageId as it is a new message but might have the same CorrelationId. The definition of the values is owned by the system sending the message.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:schema>
        <xs:schema xmlns:esmd="http://eai.telkom.co.za/EnterpriseServiceMetaData/20110801" xmlns:tns="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:import namespace="http://eai.telkom.co.za/EnterpriseServiceMetaData/20110801"/>
            <xs:complexType name="AttributedQNameType">
                <xs:simpleContent>
                    <xs:extension base="xs:QName">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="AttributedURIType">
                <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="AttributedUnsignedLongType">
                <xs:simpleContent>
                    <xs:extension base="xs:unsignedLong">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="EndpointReferenceType">
                <xs:sequence>
                    <xs:element name="Address" type="tns:AttributedURIType"/>
                    <xs:element minOccurs="0" ref="tns:ReferenceParameters"/>
                    <xs:element minOccurs="0" ref="tns:Metadata"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:simpleType name="FaultCodesOpenEnumType">
                <xs:union memberTypes="tns:FaultCodesType xs:QName"/>
            </xs:simpleType>
            <xs:simpleType name="FaultCodesType">
                <xs:restriction base="xs:QName">
                    <xs:enumeration value="tns:InvalidAddressingHeader"/>
                    <xs:enumeration value="tns:InvalidAddress"/>
                    <xs:enumeration value="tns:InvalidEPR"/>
                    <xs:enumeration value="tns:InvalidCardinality"/>
                    <xs:enumeration value="tns:MissingAddressInEPR"/>
                    <xs:enumeration value="tns:DuplicateMessageID"/>
                    <xs:enumeration value="tns:ActionMismatch"/>
                    <xs:enumeration value="tns:MessageAddressingHeaderRequired"/>
                    <xs:enumeration value="tns:DestinationUnreachable"/>
                    <xs:enumeration value="tns:ActionNotSupported"/>
                    <xs:enumeration value="tns:EndpointUnavailable"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="MetadataType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:complexType name="ProblemActionType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:Action"/>
                    <xs:element minOccurs="0" name="SoapAction" type="xs:anyURI"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:complexType name="ReferenceParametersType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:complexType name="RelatesToType">
                <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                        <xs:attribute default="http://www.w3.org/2005/08/addressing/reply" name="RelationshipType" type="tns:RelationshipTypeOpenEnum"/>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="RelationshipType">
                <xs:restriction base="xs:anyURI">
                    <xs:enumeration value="http://www.w3.org/2005/08/addressing/reply"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="RelationshipTypeOpenEnum">
                <xs:union memberTypes="tns:RelationshipType xs:anyURI"/>
            </xs:simpleType>
            <xs:element name="Action" type="tns:AttributedURIType"/>
            <xs:element name="EndpointReference" type="tns:EndpointReferenceType"/>
            <xs:element name="FaultTo" type="tns:EndpointReferenceType"/>
            <xs:element name="From">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Address" type="tns:AttributedURIType"/>
                        <xs:element name="ReferenceParameters">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" ref="esmd:TransactionGroupID">
                                        <xs:annotation>
                                            <xs:documentation>This is an optional identifier to be used by a system when several technical transactions are representing one business transaction. Example: Business transaction impplemented via a request and call-back transaction. The call-back will have a new MessageId as it is a new message but might have the same CorrelationId. The definition of the values is owned by the system sending the message.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element minOccurs="0" ref="esmd:Metadata">
                                        <xs:annotation>
                                            <xs:documentation>Metadata that can be specified by a client.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element ref="esmd:SenderID">
                                        <xs:annotation>
                                            <xs:documentation>This is the identifier of the sending system</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
                                </xs:sequence>
                                <xs:anyAttribute namespace="##other" processContents="lax"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" ref="tns:Metadata"/>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                    <xs:anyAttribute namespace="##other" processContents="lax"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="MessageID" type="tns:AttributedURIType"/>
            <xs:element name="Metadata" type="tns:MetadataType"/>
            <xs:element name="ProblemAction" type="tns:ProblemActionType"/>
            <xs:element name="ProblemHeaderQName" type="tns:AttributedQNameType"/>
            <xs:element name="ProblemIRI" type="tns:AttributedURIType"/>
            <xs:element name="ReferenceParameters" type="tns:ReferenceParametersType"/>
            <xs:element name="RelatesTo" type="tns:RelatesToType"/>
            <xs:element name="ReplyTo" type="tns:EndpointReferenceType"/>
            <xs:element name="RetryAfter" type="tns:AttributedUnsignedLongType"/>
            <xs:element name="To" type="tns:AttributedURIType"/>
            <xs:attribute name="IsReferenceParameter" type="xs:boolean"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ReleaseNumberRequest">
        <wsdl:part element="ns2:Request" name="ServicePart-ReleaseNumberRequest"/>
    </wsdl:message>
    <wsdl:message name="ReleaseNumberResponse">
        <wsdl:part element="ns3:Response" name="ServicePart-ReleaseNumberResponse"/>
    </wsdl:message>
    <wsdl:message name="ReleaseNumberFault">
        <wsdl:part element="eaifault:Exception" name="ServicePart-ReleaseNumberFault"/>
    </wsdl:message>
    <wsdl:message name="WSAHeader-Action">
        <wsdl:part element="ns0:Action" name="WSAHeaderPart-Action"/>
    </wsdl:message>
    <wsdl:message name="WSAHeader-MessageID">
        <wsdl:part element="ns0:MessageID" name="WSAHeaderPart-MessageID"/>
    </wsdl:message>
    <wsdl:message name="WSAHeader-From">
        <wsdl:part element="ns0:From" name="WSAHeaderPart-From"/>
    </wsdl:message>
    <wsdl:message name="WSAHeader-RelatesTo">
        <wsdl:part element="ns0:RelatesTo" name="WSAHeaderPart-RelatesTo"/>
    </wsdl:message>
    <wsdl:message name="WSAHeader-To">
        <wsdl:part element="ns0:To" name="WSAHeaderPart-To"/>
    </wsdl:message>
    <wsdl:message name="WSAHeader-ReplyTo">
        <wsdl:part element="ns0:ReplyTo" name="WSAHeaderPart-ReplyTo"/>
    </wsdl:message>
    <wsdl:message name="WSAHeader-FaultTo">
        <wsdl:part element="ns0:FaultTo" name="WSAHeaderPart-FaultTo"/>
    </wsdl:message>
    <wsdl:message name="EAIHeader-SenderID">
        <wsdl:part element="ns1:SenderID" name="EAIHeaderPart-SenderID"/>
    </wsdl:message>
    <wsdl:message name="EAIHeader-Metadata">
        <wsdl:part element="ns1:Metadata" name="EAIHeaderPart-Metadata"/>
    </wsdl:message>
    <wsdl:message name="EAIHeader-TransactionGroupID">
        <wsdl:part element="ns1:TransactionGroupID" name="EAIHeaderPart-TransactionGroupID"/>
    </wsdl:message>
    <wsdl:portType name="ReleaseNumber_HTTP_PortType">
        <wsdl:operation name="ReleaseNumber">
            <wsdl:input message="tns:ReleaseNumberRequest" wsaw:Action="http://eai.telkom.co.za/services/ReleaseNumber/20121214/Request"/>
            <wsdl:output message="tns:ReleaseNumberResponse" wsaw:Action="http://eai.telkom.co.za/services/ReleaseNumber/20121214/Reply"/>
            <wsdl:fault message="tns:ReleaseNumberFault" name="ReleaseNumberFault" wsaw:Action="http://eai.telkom.co.za/services/ReleaseNumber/20121214/Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReleaseNumber_Soap11_HTTP_EPBinding" type="tns:ReleaseNumber_HTTP_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReleaseNumber">
            <soap:operation soapAction="http://eai.telkom.co.za/services/ReleaseNumber/20121214/Request" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReleaseNumberFault">
                <soap:fault name="ReleaseNumberFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReleaseNumberHTTPService">
        <wsdl:port binding="tns:ReleaseNumber_Soap11_HTTP_EPBinding" name="ReleaseNumber_Soap11_HTTP_EP">
            <soap:address location="http://localhost:11001/services/ReleaseNumber/SOAP11_HTTP_EP"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
