node_functions/Schemas/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

    <complexType name="NewComplexType">
    	<sequence>
    		<element name="element1" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="root">
    	<sequence>
    		<element name="element2" type="tns:NewComplexType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="root" type="tns:root"></element>
</schema>