crm/Resources/Schema/canonical/OTA_HotelPreferences.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ns="http://www.opentravel.org/OTA/2003/05/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" id="OTA2014A" version="4.000">
	<xs:annotation>
		<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:complexType name="BedTypePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for the size and features of hotel bed types.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates the level of preference for the bed type requested.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="BedType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates the hotel bed type requested. Refer to OpenTravel Code List Bed Type (BED).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BusinessSrvcPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for type of business services in a hotel.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel business service identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="BusinessSrvcType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the types of business services offered by the hotel. Refer to OpenTravel Code ListBusiness Srvc Type (BUS).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FoodSrvcPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for type of food service facilities in a hotel.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel food service identified.
							</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="FoodSrvcType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the types of food services offered by the hotel. Refer to OpenTravel Code List Main Cuisine Code (CUI).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HotelPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">These are the hotel preference elements used on an instance of a profile.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="LoyaltyPref" type="LoyaltyPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentFormPref" type="PaymentFormPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="HotelChainPref" type="CompanyNamePrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PropertyNamePref" type="PropertyNamePrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PropertyLocationPref" type="PropertyLocationPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PropertyTypePref" type="PropertyTypePrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PropertyClassPref" type="PropertyClassPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PropertyAmenityPref" type="PropertyAmenityPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RoomAmenityPref" type="RoomAmenityPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RoomLocationPref" type="RoomLocationPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="BedTypePref" type="BedTypePrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="FoodSrvcPref" type="FoodSrvcPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MediaEntertainPref" type="MediaEntertainPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PetInfoPref" type="PetInfoPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MealPref" type="MealPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RecreationSrvcPref" type="RecreationSrvcPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="BusinessSrvcPref" type="BusinessSrvcPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PersonalSrvcPref" type="PersonalSrvcPrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SecurityFeaturePref" type="SecurityFeaturePrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PhysChallFeaturePref" type="PhysChallFeaturePrefType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SpecRequestPref" type="SpecRequestPrefType"/>
			<xs:element minOccurs="0" ref="TPA_Extensions"/>
		</xs:sequence>
		<xs:attributeGroup ref="PreferLevelGroup"/>
		<xs:attributeGroup ref="PrivacyGroup"/>
		<xs:attributeGroup ref="SmokingIndicatorGroup"/>
		<xs:attribute name="RatePlanCode" type="StringLength1to128">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code identifying preferred hotel rate plan for this travel situation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelGuestType" type="OTA_CodeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">Category of hotel guest. Refer to OpenTravel Code List Hotel Guest Type (GUE).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PersonalSrvcPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for type of personal services in a hotel.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel personal service identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PhysChallFeaturePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for type of features required to meet the needs of persons with physical challenges, disabilities, etc.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel physically challenged feature identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="PhysChallFeatureType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the types of features the hotel offers to service physically challenged guests. Refer to OpenTravel Code List Disability Feature Code (PHY).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PropertyAmenityPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for hotel property amenities.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel property amenity identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="PropertyAmenityType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the amenities offered by the hotel. Refer to OpenTravel Code List Hotel Amenity Code (HAC).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PropertyClassPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for class of hotel property.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel property class identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="PropertyClassType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifes the classification of the property. Refer to OpenTravel Code List Brand Category Code (BCC).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PropertyLocationPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for hotel property locations.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates the level of preference for the property location identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="PropertyLocationType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the propery location type. Refer to OpenTravel Code List Location Category Codes (LOC).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PropertyNamePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of preferred hotel property associated with this collection.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel property identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PropertyTypePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preference for hotel property types.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel type identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="PropertyType" type="StringLength1to128" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RecreationSrvcPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for type of recreation services in a hotel.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel recreational service identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RecreationSrvcType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the recreational services offered by the hotel. Refer to OpenTravel Code List Recreation Srvc Type (RST).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RoomAmenityPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for hotel room amenities.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the associated hotel room amenity.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RoomAmenity" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifes the types of room amenities offered by the property. Refer to OpenTravel Code List Room Amenity Type (RMA).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to OpenTravel Code list Option Type Code (OTC). This is used in conjunction with RoomAmenity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="QuantityGroup"/>
				<xs:attribute name="QualityLevel" type="StringLength1to16" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to designate the quality level of the RoomAmenity e.g., premium, deluxe, standard, economy.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="RoomGender" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to request or specify a gender assignment for a room. Note: Typically used by Hosteliers.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Male"/>
							<xs:enumeration value="Female"/>
							<xs:enumeration value="MaleAndFemale"/>
							<xs:enumeration value="Unknown"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="SharedRoomInd" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">If TRUE, the room requires or has sharing available. Note: Typically used by Hosteliers.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RoomLocationPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for hotel room locations.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel room location identified.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RoomLocationType" type="OTA_CodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the location of the room within the property. Refer to OpenTravel Code List Room Location Type (RLT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SecurityFeaturePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates preferences for type of security features in a hotel.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OTA_CodeType">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the customer's level of preference for the hotel security feature identified. Refer to OpenTravel Code List Security Feature Code (SEC).</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
