crm/Resources/Schema/canonical/OTA_CommonPrefs.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ns="http://www.opentravel.org/OTA/2003/05/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" id="OTA2014A" version="3.000">
	<xs:annotation>
		<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:complexType name="AddressPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies an address preference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" type="AddressInfoType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines a physical address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of address preferences between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="CommonPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies preferences for common travel needs not associated with a specific travel service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="NamePref" type="NamePrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for name information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PhonePref" type="PhonePrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for telephone information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AddressPref" type="AddressPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for address information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentFormPref" type="PaymentFormPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for form of payment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="InterestPref" type="InterestPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a traveler's interests.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="InsurancePref" type="InsurancePrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for insurance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SeatingPref" type="SeatingPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for seating.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="TicketDistribPref" type="TicketDistribPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a method of ticket distribution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MediaEntertainPref" type="MediaEntertainPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for media and entertainment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PetInfoPref" type="PetInfoPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for pet information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MealPref" type="MealPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for food and beverage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="LoyaltyPref" type="LoyaltyPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a loyalty program.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SpecRequestPref" type="SpecRequestPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a special request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RelatedTravelerPref" type="RelatedTravelerPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a related traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="99" minOccurs="0" name="ContactPref">
				<xs:annotation>
					<xs:documentation>The traveller's preferred means of being contacted.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="PreferLevel" type="PreferLevelType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Level of preference for this method of being contacted.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ContactMethodCode" type="OTA_CodeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Method of contact. Refer to OpenTravel Code List DistributionType (DTB).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="EmployeeLevelInfo" type="EmployeeInfoType">
				<xs:annotation>
					<xs:documentation>Defines the category of the traveler and the purpose of the trip for which these preferences apply. Typically used for company profiles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="TPA_Extensions"/>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of common preferences between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="SmokingIndicatorGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate if smoking is preferred.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="PrimaryLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify the preferred language.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="AltLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify the preferred alternate language.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="CompanyNamePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a preferred company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="CompanyNameType">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to specify the preference level for this company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InsurancePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a preference for a travel insurance policy.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to specify the preference level for this insurance policy.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Index number to be used for reference the insurance policy to be used in this travel collection.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InterestPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a preference for a traveler's interest.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to specify the preference level for a traveler's interest.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LoyaltyPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a preference for a loyalty program.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to specify the preference level for this loyalty program.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identification of loyalty program by reference number or index.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MealPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a food and beverage preference.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to specify the preference level for a meal type.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="MealType" type="MealType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Type of meal required (e.g.,vegetarian, Kosher, low fat, etc.)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="FavoriteFood" type="StringLength1to64" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Dining preferences used with this collection.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Beverage" type="StringLength1to64" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Type of drink(s) preferred.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MediaEntertainPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Media and entertainment information preferences.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to indicate a level of preference for media or entertainment.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NamePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Enables a preference to be indicated for name information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueID" type="UniqueID_Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unique identifier for a person or profile.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="PersonNameType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PreferLevelGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate a level of preference for name information.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="OtherSrvcPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies other service preferences.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OtherSrvcName" type="StringLength1to32">
				<xs:annotation>
					<xs:documentation xml:lang="en">The name identfiying the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="5" minOccurs="0" name="VendorPref" type="CompanyNamePrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a vendor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="5" minOccurs="0" name="LoyaltyPref" type="LoyaltyPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a loyalty program.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="5" minOccurs="0" name="PaymentFormPref" type="PaymentFormPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a form of payment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="5" minOccurs="0" name="SpecRequestPref" type="SpecRequestPrefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Enables a preference to be indicated for a special request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="TPA_Extensions"/>
		</xs:sequence>
		<xs:attributeGroup ref="PreferLevelGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate a level of preference for a service perference.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="TravelPurpose" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Refer to OpenTravel Code List Travel Purpose (TVP).	</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PaymentFormPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a form of payment preference.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to indicate a level of preference for a form of payment.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The unique reference for a payment form within this message.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PetInfoPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indentifies preferences regarding a pet.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to indicate a level of preference for pet information.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PhonePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a telephone number preference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Telephone">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies a telephone number.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="TelephoneInfoGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Information about a telephone number, including the actual number and its usage.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatedTravelerPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a preference for a name of a related traveler.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueID" type="UniqueID_Type">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unique identifier for a related traveler.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PreferLevelGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate a level of preference for a related traveler.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="SeatingPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a seating preference.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to indicate a level of preference for seat information.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="SeatDirection" type="StringLength1to16" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Direction seat faces during travel, when conveyance allows.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SeatLocation" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Location of seat in cabin of conveyance. Suggested values include: Forward, Middle, Aft, ExitRow, Bulkhead, Right or Left Side, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SeatPosition" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Preferred position of seat in a row, such as Aisle, Middle, Center, Window, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SeatRow" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Preferred row for seating, indicates specific row number and/or seat identifier.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SpecRequestPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies special request preference.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to indicate a level of preference for a special request.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TicketDistribPrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a preference for a type of ticket distribution.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to indicate a level of preference for a method of ticket distribution.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="DistribType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Ticket distribution method such as Fax, Email, Courier, Mail, Airport_Pickup, City_Office, Hotel_Desk,
 WillCall, etc. Refer to OpenTravel Code List Distribution Type (DTB).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="TicketTime" type="xs:duration" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Ticket turnaround time desired, amount of time requested to deliver tickets.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Remark" type="StringLength1to128" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">A remark associated with the ticket distribution preference.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
