crm/Resources/Schema/OTA_PassengerProfile_RQ_RS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Franco Perez (Hewlett-Packard Co) --><xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:ns4="http://www.copaair.com/schemas/trn/crm/common" xmlns:ns5="http://www.copaair.com/schemas/trn/crm/passengerprofile" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="OTA2014A" targetNamespace="http://www.opentravel.org/OTA/2003/05" version="4.000">
	<xs:annotation>
		<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="canonical/OTA_Profile.xsd"/>
	<xs:include schemaLocation="canonical/OTA_CommonTypes.xsd"/>
	<xs:import namespace="http://www.copaair.com/schemas/trn/crm/common" schemaLocation="canonical/COPA_CommonTypes.xsd"/>
	<xs:import namespace="http://www.copaair.com/schemas/trn/crm/passengerprofile" schemaLocation="canonical/COPA_Profile.xsd"/>
	<xs:element name="OTA_ProfileReadRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Returns a single or multiple customer profile(s) in response to a ReadRQ request of Type=Profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en-us">Standard way to indicate successful processing of an OpenTravel message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Warnings" type="WarningsType">
						<xs:annotation>
							<xs:documentation xml:lang="en-us">A successfully processed of an OpenTravel message, but one in which warnings are generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="99" minOccurs="0" name="UniqueID" type="UniqueID_Type">
						<xs:annotation>
							<xs:documentation xml:lang="en-us">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Profiles" type="ProfilesType">
						<xs:annotation>
							<xs:documentation xml:lang="en-us">Container element for a collection of profiles.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en-us">Standard way to indicate that an error occurred during the processing of an OpenTravel message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OTA_ReadRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">A generic message, available as an action on several OpenTravel services which requests a server to read and return the document type identified by the UniqueID element.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="POS" type="POS_Type">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of Sale Identification for the transaction initiator that includes the identification information of the party that has made the reservation request and optional  information, such as an agency number assigned by IATA, ARC, ESRP or TID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="UniqueID" type="UniqueID_Type">
					<xs:annotation>
						<xs:documentation xml:lang="en">A reference to identify the booking.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ReadRequests">
					<xs:annotation>
						<xs:documentation xml:lang="en">A grouping of Read Requests by travel vertical.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="ReadRequest">
								<xs:annotation>
									<xs:documentation xml:lang="en">A request to read a reservation when the booking reference is known.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UniqueID" type="UniqueID_Type">
											<xs:annotation>
												<xs:documentation xml:lang="en">The booking reference for the reservation.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element minOccurs="0" name="Verification" type="VerificationType">
											<xs:annotation>
												<xs:documentation xml:lang="en">This is to be used for verification that the record being sent is the specific record requested. This is optional and is intended to provide a more secure mechanism to ensure the correct record is being sent.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="HistoryRequestedInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">When true, the history of the reservation should be returned.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="ProfileReadRequest">
								<xs:annotation>
									<xs:documentation>To request a profile when the profile identifier is not known.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="9" minOccurs="0" name="UniqueID">
											<xs:annotation>
												<xs:documentation>Used to convey the identity of the profile, the owner of the profile, or an id provided by the client.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="UniqueID_Type">
														<xs:attribute name="PinNumber" type="StringLength1to16" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">The personal identification number (password) for this ID.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="Company" type="ContactPersonType">
											<xs:annotation>
												<xs:documentation>Detailed contact information for a company or a company point of contact used for searching profiles.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element minOccurs="0" name="Customer" type="CustomerType">
											<xs:annotation>
												<xs:documentation>Detailed customer information used for searching profiles.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element minOccurs="0" name="SearchQualifierType" type="ns4:SearchQualifierType">
											<xs:annotation>
												<xs:documentation>Detailed search information used for searching profiles.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attributeGroup ref="DateTimeSpanGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The date or date range of the reservations to be selected as qualified by the DateType when present.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
									<xs:attribute name="DateType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the type of date provided in the date time span attributes.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="ArrivalDate">
													<xs:annotation>
														<xs:documentation xml:lang="en">The arrival date of the reservation.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="DepartureDate">
													<xs:annotation>
														<xs:documentation xml:lang="en">The departure date of the reservation.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="CreateDate">
													<xs:annotation>
														<xs:documentation xml:lang="en">The date the reservation was created.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="LastUpdateDate">
													<xs:annotation>
														<xs:documentation xml:lang="en">The date the reservation was last updated.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="StatusCode" type="OTA_CodeType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Status of the profile. Refer to OpenTravel Code List Profile Status Code (PST).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ProfileTypeCode" type="OTA_CodeType" use="optional">
										<xs:annotation>
											<xs:documentation>Code to specify a profile such as customer, tour operator, corporation, etc. Refer to OpenTravel Code List Profile Type (PRT).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
			<xs:attributeGroup ref="ReqRespVersion"/>
			<xs:attribute name="ReservationType" type="OTA_CodeType" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">To specify the type of reservation, Global, Air, Hotel, Car, Package, or Golf, that is being requested.  Refer to OpenTravel Code List Travel Sector (TVS).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ReturnListIndicator" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">To indicate if a list should always be returned even when only one reservation matches the input criteria.  The default is to return the reservation record.  If set to true, then always return a list.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="ResponseGroup">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to indicate a maximum number of items desired in the list response message or when used for subsequent retrievals of additional data the MoreDataEchoToken determines where to continue the list.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
	<xs:element name="COPA_ValidateDataForFFAssignmentRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">A message to verify user's credentials</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ValidateDataForFFAssigmentType" type="ns5:ValidateDataForFFAssigmentType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COPA_ValidateDataForFFAssignmentRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Response a standard message to a logout request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en-us">Standard way to indicate successful processing of an CopaAir message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Warnings" type="WarningsType">
						<xs:annotation>
							<xs:documentation xml:lang="en-us">A successfully processed of an CopaAir message, but one in which warnings are generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValidationResultCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>Result of the Validation. Refer to Copa Code List Profile ValidateData Code (PVC).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en-us">Standard way to indicate that an error occurred during the processing of an CopaAir message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
