FUNCTIONS/Service Descriptors/sample.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1689165848147" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1689165848147">
  <complexType name="OTA_ProfileReadRSElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="Profiles">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="ProfileInfo">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="Profile">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="Customer">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="PersonName">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="GivenName" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="Surname" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="NameSuffix" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="NameTitle" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="unbounded" minOccurs="0" name="Telephone" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Email" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Address">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="unbounded" minOccurs="0" name="AddressLine" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="CityName" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="StateProv" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="CountryName" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="CitizenCountryName" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="Document">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="TPA_Extensions">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="CopaDocumentExt" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="CustLoyalty">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="SubAccountBalance" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="TPA_Extensions">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="CopaProfileExt">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="ProfileProcessStatus" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="FrequentFlyerNumber" type="integer"/>
                                          <element maxOccurs="1" minOccurs="0" name="UserName" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="Status" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="Title" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="EnrollmentSource" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="NameOnCard" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="Loyalty">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="QualifyingMiles" type="integer"/>
                                                <element maxOccurs="1" minOccurs="0" name="QualifyingSectors" type="integer"/>
                                                <element maxOccurs="1" minOccurs="0" name="TotalAwardMilesSinceEnrollment" type="integer"/>
                                                <element maxOccurs="1" minOccurs="0" name="TotalQualifyingMilesSinceEnrollment" type="integer"/>
                                                <element maxOccurs="1" minOccurs="0" name="TierCode" type="string"/>
                                                <element maxOccurs="1" minOccurs="0" name="SoftTierCode" type="string"/>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="Extensions">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="Extension">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="Value" type="integer"/>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="Consents">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="Consent">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="Value" type="boolean"/>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="Preferences">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="Preference">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="Value" type="string"/>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="Accounts">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="Account">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="ID" type="integer"/>
                                                      <element maxOccurs="1" minOccurs="0" name="Type" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="Active" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="CloseDate" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="CompanyCode" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="CompanyName" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="StartDate" type="string"/>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="OTA_ProfileReadRSElement" type="tns:OTA_ProfileReadRSElementType"/>
</schema>
