ReleaseNumberTest/Kernel/Testing/Assertions/XPathEvaluator-Start-Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="/ReleaseNumberTest/Kernel/Testing/Assertions/XPathEvaluator-Start-Input.xsd" xmlns:ns="http://www.tibco.com/pe/EngineTypes" xmlns:ns0="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:pfx="http://esb.telkom.co.za/ISO8583/1.0" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/ReleaseNumberTest/Kernel/Testing/Assertions/XPathEvaluator-Start-Input.xsd">
    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice>
                    <xsd:element name="flattenedXml" type="xsd:string"/>
                    <xsd:element name="xml">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any namespace="##any" processContents="skip"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:element minOccurs="0" name="assertions">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="assertion" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
