ReleaseNumberTest/Kernel/Testing/Assertions/XPathEvaluator-Fault-XPathAssertionError.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://xmlns.example.com/1311032134246/Kernel/Testing/Assertions/XPathEvaluator/Generate-Error-Fault-root.xsd" xmlns:ns="http://www.tibco.com/pe/EngineTypes" xmlns:ns0="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:pfx="http://esb.telkom.co.za/ISO8583/1.0" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/1311032134246/Kernel/Testing/Assertions/XPathEvaluator/Generate-Error-Fault-root.xsd">
    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="xpathEvaluation" type="xsd:string"/>
                <xsd:element name="flattenedXml" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
